@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: Roboto, sans-serif;
}
.page-wrapper {
    background: linear-gradient(to bottom, #0072C6 0%, #1D6EB9 30%, #C8102E 45%, #C8102E 100%);

}

.img-wrapper {
    max-height: 300px;
    aspect-ratio: 3/4;
    overflow: hidden;
    margin-top: 30px;
}

.movie-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    gap: 25px;
    text-align: center;
    border-radius: 20px;
}

.movie-info {
    margin-top: -20px;
    justify-content: center;
    align-items: center;
    max-width: 300px;
}

.main {
    align-items: center;
}

#add-movie-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}

#movie-list {
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    background: linear-gradient(to bottom, #C8102E 0%, #C8102E 40%, #1D6EB9 50%, #0072C6 70%, #0072C6 100%);
    padding: 10px;
    min-width: 50px;
}

.movie {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 18px;
    text-align: center;
    margin: 5px;
    transition: ease all 0.3s;
}

.movie:hover {
    transform: scale(1.2);
    background-color: gray;
}